{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hotels</title>

  <style type="text/css">
    .center-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding-bottom: 20px;
    }
  </style>

  <!-- Custom fonts for this theme -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
      <a href="{% url 'hotel-int' %}"><button class="btn btn-primary btn-xl">Hotels</button></a>
      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
        <div>{{buc.name}}</div><br>
        
          
        
          
        <h3 align="center">Most Critical Issues</h3>
      </h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-square"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <!-- <i class="fas fa-plus fa-3x"></i> -->
                <h4 class="text-uppercase mb-4">Cleanliness</h4>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/cleanliness.jpg' %}" alt="">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <h4 class="text-uppercase mb-4">Food</h4>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/food.png' %}" alt="">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <h4 class="text-uppercase mb-4">Basic Facilities</h4>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/facility.jpg' %}" alt="">
          </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <h4 class="text-uppercase mb-4">Ambience</h4>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/ambience.jpg' %}" alt="">
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <h4 class="text-uppercase mb-4">Amenities</h4>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/amenities.jpg' %}" alt="">
          </div>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <h4 class="text-uppercase mb-4">Price</h4>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/price.jpeg' %}" alt="">
          </div>
        </div>

        <!-- Portfolio Item 7 -->
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <h4 class="text-uppercase mb-4">Staff</h4>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/staff.jpg' %}" alt="">

            <!-- <img class="img-fluid" src="{% static 'img/portfolio/bloomrooms @ Indiranagar.jpg' %}" alt=""> -->
            <!-- <img src="{% static buc.image %}" > -->
          </div>
        </div>
        <img class="center-image" src="{% static buc.image %}" alt="">
      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">Microsoft Innovation Lab
            <br>PES University, Bangalore</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        </div>

      </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    
      <small>Copyright &copy; CritiQali 2019</small>

    
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cleanliness</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- <img class="img-fluid rounded mb-5" src="img/portfolio/cabin.png" alt=""> -->
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Issue No.</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                          <th scope="col">Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in buc.cleanliness %}
                        <tr>
                          <th scope="row">{{i.0}}</th>
                          <td>{{i.1}}</td>
                          <td>{{i.2}}</td>
                          <td><img class="img-fluid" src="{% static 'img/portfolio/logo.jpg' %}" alt=""></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Food</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- <img class="img-fluid rounded mb-5" src="img/portfolio/cake.png" alt=""> -->
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Issue No.</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                          <th scope="col">Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in buc.food %}
                        <tr>
                          <th scope="row">{{i.0}}</th>
                          <td>{{i.1}}</td>
                          <td>{{i.2}}</td>
                          <td><img class="img-fluid" src="{% static 'img/portfolio/logo.jpg' %}" alt=""></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Basic Facilities</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- <img class="img-fluid rounded mb-5" src="img/portfolio/circus.png" alt=""> -->
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Issue No.</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                          <th scope="col">Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in buc.facility %}
                        <tr>
                          <th scope="row">{{i.0}}</th>
                          <td>{{i.1}}</td>
                          <td>{{i.2}}</td>
                          <td><img class="img-fluid" src="{% static 'img/portfolio/logo.jpg' %}" alt=""></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Ambience</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- <img class="img-fluid rounded mb-5" src="img/portfolio/game.png" alt=""> -->
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Issue No.</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                          <th scope="col">Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in buc.ambience %}
                        <tr>
                          <th scope="row">{{i.0}}</th>
                          <td>{{i.1}}</td>
                          <td>{{i.2}}</td>
                          <td><img class="img-fluid" src="{% static 'img/portfolio/logo.jpg' %}" alt=""></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Price</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
               <!--  <img class="img-fluid rounded mb-5" src="img/portfolio/safe.png" alt=""> -->
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Issue No.</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                          <th scope="col">Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in buc.price %}
                        <tr>
                          <th scope="row">{{i.0}}</th>
                          <td>{{i.1}}</td>
                          <td>{{i.2}}</td>
                          <td><img class="img-fluid" src="{% static 'img/portfolio/logo.jpg' %}" alt=""></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="portfolioModal7Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Amenities</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
               <!--  <img class="img-fluid rounded mb-5" src="img/portfolio/safe.png" alt=""> -->
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Issue No.</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                          <th scope="col">Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in buc.amenities %}
                        <tr>
                          <th scope="row">{{i.0}}</th>
                          <td>{{i.1}}</td>
                          <td>{{i.2}}</td>
                          <td><img class="img-fluid" src="{% static 'img/portfolio/logo.jpg' %}" alt=""></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Staff</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <!-- <img class="img-fluid rounded mb-5" src="img/portfolio/submarine.png" alt=""> -->
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Issue No.</th>
                          <th scope="col">Review</th>
                          <th scope="col">Date</th>
                          <th scope="col">Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in buc.staff %}
                        <tr>
                          <th scope="row">{{i.0}}</th>
                          <td>{{i.1}}</td>
                          <td>{{i.2}}</td>
                          <td><img class="img-fluid" src="{% static 'img/portfolio/logo.jpg' %}" alt=""></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>
